<!DOCTYPE html>
<html lang= "pt-br">
    <head>
        <meta charset= "UTF-8">
        <title>Lançamentos - Minha Vida Financeira</title>
        
        <link rel= "stylesheet" href= "reset.css">
        <link rel= "stylesheet" href= "style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class= "container">
                <img class="logo" src="img/logo.png">
                <h1>Minha Vida Financeira</h1>
                <ul>
                    <li>Home</li>
                    <li>Fluxo de Caixa</li>
                    <li>Gráficos</li>
                    <li>Criar</li>
                </ul>
                <p>Olá (nome_usuario)!</p>
                       
        </header>

        <div class="flex-container">
            <h2>O que você gostaria de lançar?</h2>

            <ul class="list">
                <li>                
                    <img src="img/receita.png" alt="Receita">
                    <p class="change">RECEITA</p>                
                </li>
                <li>
                    <img src="img/despesas.png" alt="Despesas">
                    <p class="change">DESPESAS</p>
                </li>
                <li>
                    <img src="img/investimentos.png" alt="Investimentos">
                    <p class="change">INVESTIMENTOS</p>
                </li>
            </ul>
        </div>
        <footer>
            <img class ="logo" src= "img/logo.png">
            <p class= "copyright">&copy; Copyright Minha Vida Financeira - 2021</p>
        </footer>
    </body>

</html>