<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8">
        <title>Minha Vida Financeira</title>

        <link rel= "stylesheet" href= "reset.css">
        <link rel= "stylesheet" href= "style.css">
    </head>

    <body>
        <header class= "container">
            <h1><img class= "logo" src= "img/logo.png"></h1>
            <form>
                <label class="ax"for= "login">Login</label>
                <input type= "text" id= "Login" required>

                <label class="ax"for= "Password">Senha</label>
                <input type="password" id= "Senha" required>

                <input type="button" value="Entrar">               
            </form>           

            <a>Cadastre-se</a>

        </header>

        <main>
        <p>Você conhecerá uma nova forma de manter o controle da sua vida financeira.</p>
        <img src= "img/financial_life.png">
        <p>Seus pensamentos sobre dinheiro serão transformados</p>
        <img src= "img/cloud_money.png">
        <p>Cadastre-se agora mesmo e tome o controle da sua vida financeira e seus investimentos.</p> 
        <img src= "img/dollar_sign.png">
        <p>Seu dinheiro e investimentos apresentados de uma forma simples e completa</p>
        </main>       
    </body>
    <footer>
        <img class= "logo" src= "img/logo.png">
        <p class= "copyright">&copy; Copyright Minha Vida Financeira - 2021</p>
    </footer>
</html>