<!DOCTYPE html>
<html lang= "pt-br">
    <head>
        <meta charset= "UTF-8">
        <title>Lançamentos - Minha Vida Financeira</title>
        
        <link rel= "stylesheet" href= "reset.css">
        <link rel= "stylesheet" href= "style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
                <h1 class="logo"><img src="img/logo.png">Minha Vida Financeira</h1>
                <ul>
                    <li>Home</li>
                    <li>Fluxo de Caixa</li>
                    <li>Gráficos</li>
                    <li>Criar</li>
                </ul>
                <p>Seja bem vindo(a) a uma nova forma de controlar sua vida financeira.</p>
                       
        </header>

        <p>O que você gostaria de lançar?</p>

        <ul class= "table">
            <li>RECEITA</li>
            <li>DESPESAS</li>
            <li>INVESTIMENTOS</li>
        </ul>
    </body>

</html>